body {
  background-color: #444;
}

#mainNav {
  background-color: rgba(181, 18, 18, 0.872);
}

#carouselExampleIndicators {
  display: block;
  max-width: 100%;
  height: 100px;
}

section {
  margin-bottom: 50px;
}

p {
  color: #f5d9d5
}

#end {
  margin-bottom: 2rem;
}